@main-color:#18BAE2;
@high-light:#2DBEE4;
@family-font: "Microsoft YaHei";
.wrap {
    width: 100%;
    padding-top: 69px;
    .hunter-index-box {
        width: 100%;
    }
}
.position-detail-wrap {
    margin: 0 auto;
    padding: 32px 0;
}
body, html {
    min-width: 1200px !important;
    height: auto !important;
    /* overflow-x: hidden !important; */
    font-family: PingFangSC-Regular;
    background: #f1f1f1;
}