@main-color:#18BAE2;
.index-header-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px 0 #d8d8d8;
    background: #ffffff;
    z-index: 1;
    .header {
        min-width: 1366px;
        height: 69px;
        margin: 0 auto;
        padding: 0 6%;
        background: #ffffff;
        z-index: 10000;
    }
    .img-box {
        display: inline-block;
        min-width: 169px;
        padding-right: 2.93%;
        vertical-align: top;
        background: #fff;
    }
    .headImg {
        display: block;
        width: 100%;
        height: 100%;
    }
    .header-menu {
        display: inline-block;
        .ant-menu-item {
            padding: 0 26px;
            font-family: PingFangSC-Light;
            font-size: 18px;
        }
    }
    .right-box {
        float: right;
        height: 100%;
        .imgbox {
            position: relative;
            float: left;
            margin-right: 26px;
            cursor: pointer;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            .header-notify {
                display: inline-block;
                width: 28px;
                height: 30px;
            }
            .header-badge {
                position: absolute;
                top: 24.5%;
                right: -9px;
            }
        }
        .show-badges-box {
            position: absolute;
            top: 79px;
            left: -812px;
            width: 812px;
            li {
                width: 100%;
                height: 40px;
                padding-left: 52px;
                line-height: 40px;
                background: #797979 url(../../images/icons/badge-icon.png) 20px center no-repeat;
                background-size: 19px 14px;
                font-size: 14px;
                border-bottom: 1px solid #fff;
                color: #ffffff;
                &:hover {
                    background: #18bae2 url(../../images/icons/badge-icon.png) 20px center no-repeat;
                }
                span {
                    float: right;
                    width: 40px;
                    height: 40px;
                    background: url(../../images/icons/delete_icon.png) center center no-repeat;
                    background-size: 8px 8px;
                }
            }
        }
        .ant-dropdown-link {
            font-size: 14px;
            color: #000000;
        }
        i {
            font-size: 18px !important;
            vertical-align: middle;
        }
        i::before {
            padding-left: 22px;
            color: #18bae2;
        }
    }
    .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
        border-bottom: 0;
    }
    .ant-menu-item-selected {
        font-weight: bold;
    }
    .ant-menu-item-selected, .ant-menu-item-active {
        font-family: PingFangSC-Regular !important;
        border-bottom: 0 !important;
        color: #18bae2 !important;
    }
    .ant-dropdown-trigger {
        cursor: pointer;
    }
}
.ant-dropdown-menu {
    top: 20px !important;
    box-shadow: 0 0 5px 1px #d8d8d8;
    border-radius: 0;
}
.ant-dropdown-menu-item {
    text-align: left;
    img {
        vertical-align: middle;
    }
    a {
        height: 50px !important;
        line-height: 40px !important;
        font-size: 14px;
        color: #000000;
        border-bottom: 1px solid #eeeeee;
    }
    li:last-child a {
        border-bottom: 0;
    }
}
.munu-item-img {
    padding: 0 8px 0 13px !important;
}
.munu-item {
    font-size: 14px;
    color: #000;
    vertical-align: middle !important;
}

.block_message-right{
    background-color: #fff;
    width: 395px;
    overflow-y: auto;
    position: fixed;
    right: 0px;
    top: 0px;
    box-shadow: 0 2px 16px rgba(0,0,0,.3);
    font-family: "microsoft yahei";
    z-index: 1000;
}
.message_title{
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    box-sizing: border-box;
}
.msg_title-text{
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    height: 45px;
}
.msg_title-text span{
    vertical-align: middle;
}
.message_title .anticon-down{
    vertical-align: middle;
    color: #C2C2C2;
}
.message_title>span{
    cursor: pointer;
}
.message_title .anticon-down::before{
    vertical-align: middle;
    color: #C2C2C2 !important;
    padding-left: 5px !important;
}
.message_title .anticon-ellipsis::before{
    color: #666666 !important;
}
.message_title .anticon-close::before{
    color: #C2C2C2 !important;
    padding-left: 15px !important;
}
.ant-dropdown-menu{
    text-align: center;
}
.msg_list-item{
    margin: 0 10px;
    border-bottom: 1px solid #E7E7E7;
    line-height: normal;
    padding: 20px 0 0 0;
    box-sizing: border-box;
}
.msg_list-item b{
    font-size: 14px;
}
.time-text{
    color: #B8B8B8;
    float: right;
}
.msg_list-item span{
    line-height: normal;
}
.msg_list-item .msg-text{
    width: 100%;
    margin-top: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mark_readed{
    width: 100%;
    min-height: 20px;
    text-align: right;
    color: @main-color;
    cursor: pointer;
    visibility: hidden;
}
.msg_list-item:hover .mark_readed{
    visibility: visible;
}
